* {
	margin: 0;
  	padding: 0;
	font-family: 'Play', sans-serif;
}

html,body{
	width: 100%;
	height: auto;
	overflow-x: hidden;
} 

/* TOP MESSAGE */

#top-message{
	background-color: #0070bb;
}

.top-text{
	padding-left: 15px;
}

.top-text ul{
	margin-bottom: 0;
	padding: 5px 0;
}

.top-text ul li{
	list-style: none;
	display: inline-block;
}

.top-text ul li span{
	padding: 0 10px;
	color: white;
}

.top-text ul li a{
	text-decoration: none;
	color: white;
	letter-spacing: 1px;
}

.login{
	padding-right: 15px;
}

.login ul{
	text-align: right;
	margin-bottom: 0;
	padding: 5px 0;
}

.login ul li{
	list-style: none;
	display: inline-block;
}

.login ul li span{
	padding: 0 10px;
	color: white;
}

.login ul li a{
	text-decoration: none;
	color: white;
	letter-spacing: 1px;
}

/* NAVBAR */

.navbar {
    transition: all 0.4s;
    background: rgba(255,255,255,0.8);
}

.active-link{
    color: #0070bb !important;
}

.navbar-nav{
	margin: 0 auto;
}

.submit-btn{
	padding-right: 0 !important;
}

.navbar .nav-link {
     color: #555;
	letter-spacing: 1px;
}

.navbar .nav-link i{
     font-size: 16px;
	padding-left: 5px;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
     color: #0070bb;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #555;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #0070bb;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}

/* SLIDER */

.slider {
  width: 100%;
  min-height: 80vh;
  position: relative;
  z-index: 3;
  overflow: hidden; 
}

.slider h1{
	font-size: 60px;
	font-family: 'Lato', sans-serif;
	margin-bottom: 0;
	color: white;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 1;
	padding-bottom: 20px;
}

.slider hr{
	height: 2px;
	width: 120px;
	background-color: white;
	margin: 0 auto;
}

.slider h6{
	color: white;
	font-size: 22px;
	padding: 30px 0;
}

.slider #owlCarousel,
.slider .owl-stage-outer,
.slider .owl-stage,
.slider .owl-item-bg,
.slider .owl-item {
  min-height: 80vh; 
}

.slider .owl-item {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden; 
}

.slider .owl-item-bg {
  background-repeat: no-repeat;
  background-size: cover;
 	background-position: center;
}

.slide-content {
  padding-top: 30vh; 
	text-align: center;
}

.slider .back {
  position: absolute;
  width: 100%;
  min-height: 80vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
	background: rgba(0,0,0,0.6);
	display: none;
   }

.slide-text-box {
  z-index: 4; 
	background: rgba(0,0,0,0.6);
	padding: 20px;
	border-radius: 5px;
}

#slider.owl-theme .owl-controls .owl-nav .owl-prev{
	background-color: transparent;
	font-size: 25px;
	position: absolute;
	top: 52%;
	left: 2%
}

#slider.owl-theme .owl-controls .owl-nav .owl-next{
	background-color: transparent;
	font-size: 25px;
	position: absolute;
	top: 52%;
	right: 2%
}

.btn-slider{
	margin-top: 20px;
	margin-bottom: 15px;
}

.btn-slider a{
	text-decoration: none;
	color: white;
	text-transform: capitalize;
	letter-spacing: 2px;
	font-size: 22px;
	background-color: #0070bb;
	padding: 15px 25px;
	border: 2px solid #0070bb;
	border-radius: 5px;
}

.btn-slider a:hover{
	text-decoration: none;
	color: #0070bb;
	text-transform: capitalize;
	background-color: white;
	border: 2px solid #59aee9;
}

/* SIMPLE SEARCH */

#simple-search{
    background-color: #0070bb;
    margin-top: -10px;
    padding: 20px 0;
}

.row-form{
    margin: 0;
}

.form-group{
    margin-bottom: 0;
}

.form-simple{
    box-shadow: none !important;
}

.simple-form{
    padding: 0;
}

.btn-simple{
    width: 100%;
    padding: 5px;
    color: white;
    border: 2px solid #0070bb;
    border-radius: 5px;
    background-color: #0070bb;
    letter-spacing: 1px;
}

.btn-simple:hover{
    color: #0070bb;
    box-shadow: none;
    background-color: transparent;
    border: 2px solid #0070bb;
}

/* FEATURED LISTINGS */

#featured{
    padding: 80px 0;
}

.text-featured{
    text-align: center;
}

.text-featured h2{
    font-size: 40px;
    color: #555;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

.text-featured span{
    color: #0070bb;
    font-family: 'Lato', sans-serif;
}

.text-featured hr{
    height: 2px;
	width: 120px;
	background-color: #0070bb;
	margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 60px;
    
}

/* LISTING ITEM */

.img-listing-featured{
    width: 100%;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
}

.img-listing-featured p{
    position: absolute;
    background: rgba(0,0,0,0.5);
    color: white;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
}

.featured-details{
    margin-bottom: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 20px 0px;
}

.featured-details h4{
    margin-bottom: 0;
    text-transform: capitalize;
    color: #555;
}

.featured-details ul li{
    list-style: none;
    display: inline-block;
    color: #999999;
}

.featured-details ul li span{
    border: 1px solid #999999;
    margin: 0px 10px;
}

.featured-price p{
    font-size: 22px;
    color: #555;
    margin-bottom: 0;
}

.btn-featured{
    text-align: right;
    margin-top: 5px;
}

.btn-featured a{
    color: #0070bb;
    text-decoration: none;
}

.btn-featured a:hover{
    color: #555;
    text-decoration: none;
}

#featured-listing.owl-theme .owl-controls .owl-nav{
    margin-top: 40px;
}

#featured-listing.owl-theme .owl-controls .owl-nav .owl-prev{
    background-color: #0070bb;
    width: 35px;
    height: 35px;
    border: 1px solid #0070bb;
}

#featured-listing.owl-theme .owl-controls .owl-nav .owl-prev i{
    padding: 2px;
    font-size: 20px;
}

#featured-listing.owl-theme .owl-controls .owl-nav .owl-next i{
    padding: 2px;
    font-size: 20px;
}

#featured-listing.owl-theme .owl-controls .owl-nav .owl-next{
    background-color: #0070bb;
     width: 35px;
    height: 35px;
    border: 1px solid #0070bb;
}

#featured-listing.owl-theme .owl-controls .owl-nav .owl-prev:hover{
    border: 1px solid #0070bb;
    background-color: transparent;
    color: #0070bb;
}

#featured-listing.owl-theme .owl-controls .owl-nav .owl-next:hover{
    border: 1px solid #0070bb;
    background-color: transparent;
    color: #0070bb;
}

/* LIST YOUR */

#list-your{
    background-image: url(../images/house5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;
}

.bg-list-your{
    width: 100%;
    height: inherit;
    padding: 80px 0;
    background: rgba(0,112,187,0.8);
}

.text-list-your h2{
    font-size: 40px;
    color: white;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.text-list-your p{
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 0;
    padding-top: 20px;
}

.btn-list-your{
    text-align: right;
    margin-top: 70px;
    margin-bottom: 15px;
}

.btn-list-your a{
    color: #0070bb;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    background-color: white;
    border: 2px solid white;
    padding: 15px 25px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-list-your a:hover{
    text-decoration: none;
    color: white;
    background-color: transparent;
    border: 2px solid white;
}

/* LIFESTYLE */

#lifestyle{
    padding: 80px 0;
}

.text-lifestyle{
    text-align: center;
}

.text-lifestyle h2{
    font-size: 40px;
    color: #555;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

.text-lifestyle span{
    color: #0070bb;
    font-family: 'Lato', sans-serif;
}

.text-lifestyle hr{
    height: 2px;
	width: 120px;
	background-color: #59aee9;
	margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 60px;  
}

.lifestyle-box{
    padding: 10px;
}

.img-lifestyle{
    width: 100%;
    min-height: 260px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 5px;
}

.img-lifestyle a{
    width: 100%;
    min-height: 260px;
}

.bg-img-lifestyle{
    width: 100%;
    min-height: inherit;
    background: rgba(0,0,0,0.5);
    text-align: center;
    color: white;
    padding-top: 100px;
    border-radius: 5px;
}

.bg-img-lifestyle h4{
    letter-spacing: 1px;
}

.bg-img-lifestyle p{
    text-transform: uppercase;
}

.img-lifestyle:hover .bg-img-lifestyle{
    background-color: transparent;
    
}

.img-lifestyle:hover .bg-img-lifestyle h4{
    display: none;
}

.img-lifestyle:hover .bg-img-lifestyle p{
    display: none;
}

.img-lifestyle:hover .bg-img-lifestyle .btn-lifestyle{
    display: block;
}

/* LARGE FORM */

#inquiry-form{
    background-image: url(..//images/slider1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
     background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;
}

.bg-inguiry-form{
    width: 100%;
    height: inherit;
    padding: 80px 0;
    background: rgba(0,112,187,0.8);
}

.text-inquery h4{
    margin-bottom: 0;
    padding-bottom: 30px;
    text-transform: capitalize;
}

.form-row{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

.form-inquiry{
    box-shadow: none !important;
    margin: 5px 0;
}

.form-par{
    margin-bottom: 0;
    color: #555;
    letter-spacing: 1px;
    padding: 5px 0;
}

.btn-inquiry{
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 3px;
    letter-spacing: 1px;
    background-color: #0070bb;
    color: white;
    margin: 5px 0;
    border: 2px solid #0070bb;
}

.btn-inquiry:hover{
    color: #0070bb;
    border: 2px solid #0070bb;
    background-color: transparent;
}

.text-why-we{
    color: white;
}

.text-why-we h4{
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 40px;
}

.text-why-we p{
    letter-spacing: 1px;
    font-size: 18px;
}

.text-why-we hr{
    background-color: white;
}

/* EXPLORE CITIES */

#explore-cities{
    padding: 80px 0;
}

.text-exploer-cities{
    text-align: center;
}

.text-exploer-cities h2{
    font-size: 40px;
    color: #555;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

.text-exploer-cities span{
    color: #0070bb;
    font-family: 'Lato', sans-serif;
}

.text-exploer-cities hr{
    height: 2px;
	width: 120px;
	background-color: #0070bb;
	margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 60px;  
}

.box-explore-cities{
    padding: 10px;
}

.img-expore-cities{
    width: 100%;
    min-height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.img-expore-cities a{
    width: 100%;
    min-height: 200px;
}

.bg-explore-cities{
    width: 100%;
    min-height: inherit;
    background: rgba(0,0,0,0.5);
    text-align: center;
    color: white;
    padding-top: 70px;
    border-radius: 5px;
}

.bg-explore-cities h4{
    letter-spacing: 1px;
}

.bg-explore-cities p{
    text-transform: uppercase;
}

.img-expore-cities:hover .bg-explore-cities{
    background-color: transparent;
    
}

.img-expore-cities:hover .bg-explore-cities h4{
    display: none;
}

.img-expore-cities:hover .bg-explore-cities p{
    display: none;
}

/* FOOTER */

footer{
    background-color: #0070bb;
    color: white;
    padding-top: 80px;
}

.text-footer h4{
    letter-spacing: 1px;
    margin-bottom: 0;
    padding-bottom: 35px;
}

.text-footer p{
    margin-bottom: 0;
    padding-bottom: 5px;
}

.icons-footer{
    margin-top: 15px;
    margin-bottom: 25px;
}

.icons-footer a{
    margin-right: 10px;
}

.icons-footer a i{
    color: white;
    font-size: 25px;
}

.icons-footer a i:hover{
    color: #555;
}

.text-footer ul li{
    list-style: none;
    padding-bottom: 5px;
}

.text-footer ul li a{
    color: white;
    text-decoration: none;
}

.text-footer ul li a:hover{
    color: #555;
    text-decoration: none;
}

.footer-form{
    padding: 0;
    background-color: transparent;
}

.form-foo{
    margin-bottom: 5px;
}

.btn-form-footer{
    border: 2px solid white;
    border-radius: 3px;
    width: 100%;
    padding: 4px;
    background-color: white;
    color: #0070bb;
}

.btn-form-footer:hover{
    border: 2px solid white;
    background-color: transparent;
    color: white;
}

.text-copy{
    margin-top: 40px;
}

.text-copy hr{
    background-color: white;
}

.text-copy p{
    text-align: center;
}

/* RESPONSIVE */

@media (min-width: 992px) and (max-width: 1199px) {
    .slide-content{
        padding-top: 28vh;
    }
    .slider h1{
        font-size: 50px;
    }
}

@media(min-height:1366px){
    .slide-content{
        padding-top: 34vh;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .slide-content{
        padding-top: 28vh;
    }
    .slider h1{
        font-size: 50px;
    }
    #slider.owl-theme .owl-controls .owl-nav .owl-prev{
        top: 52%;
        left: 0%
    }

    #slider.owl-theme .owl-controls .owl-nav .owl-next{
        top: 52%;
        right: 0%
    }
    .btn-list-your{
        text-align: left;
    }
    .text-why-we{
        margin-top: 40px;
    }
    .cont-us, .newslet{
        margin-top: 25px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .top-text{
        text-align: center;
    }
    .login ul{
        text-align: center;
    }
    .slide-content{
        padding-top: 26vh;
    }
    .slider h1{
        font-size: 45px;
    }
    .form-simple{
        margin-bottom: 5px;
    }
    .btn-list-your{
        text-align: left;
    }
    .text-why-we{
        margin-top: 40px;
    }
    .login{
        padding-right: 0;
    }  
}

@media (min-width: 321px) and (max-width: 480px) {
    .top-text ul li a{
        font-size: 12px;
    }
    .top-text{
        text-align: center;
    }
    .login ul{
        text-align: center;
        padding-top: 0;
    }
    .login ul li a{
        font-size: 12px;
    }
    .login{
        padding-right: 0;
    }
    .slide-content{
        padding-top: 25vh;
    }
    .slider h1{
        font-size: 35px;
    }
    .form-simple{
        margin-bottom: 5px;
    }
    .slider .back {
      position: absolute;
      width: 100%;
      min-height: 90vh;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
        background: rgba(0,0,0,0.6);
        display: block;
       }
    .slider {
      width: 100%;
      min-height: 90vh;
      position: relative;
      z-index: 3;
      overflow: hidden; 
    }
    .slider #owlCarousel,
    .slider .owl-stage-outer,
    .slider .owl-stage,
    .slider .owl-item-bg,
    .slider .owl-item {
      min-height: 90vh; 
    }

    .slide-text-box {
      z-index: 4; 
        background: transparent;
        padding: 20px;
        border-radius: 5px;
    }
    .row-form{
       margin: 5px;
    }
    #featured{
        padding: 40px 0;
    }
    .text-featured h2{
        font-size: 30px;
    }
    #featured-listing.owl-theme .owl-controls .owl-nav{
        margin-top: 20px;
    }
    .btn-list-your{
        text-align: left;
    }
    #lifestyle{
        padding: 40px 0;
    }
    .text-lifestyle h2{
        font-size: 30px;
    }
    .text-why-we{
        margin-top: 20px;
    }
    #explore-cities{
        padding: 40px 0;
    }
    .text-exploer-cities h2{
        font-size: 30px;
    }
    footer{
        padding-top: 40px;
    }
     .text-list-your h2{
        font-size: 30px;
    }
}

@media (max-width: 320px) {
    .top-text ul li a{
        font-size: 10px;
    }
    .top-text{
        text-align: center;
    }
    .login ul{
        text-align: center;
        padding-top: 0;
    }
    .login ul li a{
        font-size: 12px;
    }
    .login{
        padding-right: 0;
    }
    .slide-content{
        padding-top: 25vh;
    }
    .slider h1{
        font-size: 30px;
    }
    .form-simple{
        margin-bottom: 5px;
    }
    .slider .back {
      position: absolute;
      width: 100%;
      min-height: 100vh;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
        background: rgba(0,0,0,0.6);
        display: block;
       }
    .slider {
      width: 100%;
      min-height: 100vh;
      position: relative;
      z-index: 3;
      overflow: hidden; 
    }
    .slider #owlCarousel,
    .slider .owl-stage-outer,
    .slider .owl-stage,
    .slider .owl-item-bg,
    .slider .owl-item {
      min-height: 100vh; 
    }

    .slide-text-box {
      z-index: 4; 
        background: transparent;
        padding: 20px;
        border-radius: 5px;
    }
    .row-form{
       margin: 5px;
    }
    #featured{
        padding: 40px 0;
    }
    .text-featured h2{
        font-size: 30px;
    }
    #featured-listing.owl-theme .owl-controls .owl-nav{
        margin-top: 20px;
    }
    .btn-list-your{
        text-align: left;
    }
    #lifestyle{
        padding: 40px 0;
    }
    .text-lifestyle h2{
        font-size: 30px;
    }
    .text-why-we{
        margin-top: 20px;
    }
    #explore-cities{
        padding: 40px 0;
    }
    .text-exploer-cities h2{
        font-size: 30px;
    }
    footer{
        padding-top: 40px;
    }
    .text-list-your h2{
        font-size: 30px;
    }
}

/* HERO INNER PAGES */

#hero-inner{
    background-image: url(..//images/inner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 300px;
}

.text-hero-inner{
    text-align: center;
    padding-top: 17vh;
}

.text-hero-inner h1{
    font-size: 50px;
    color: #555;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

/* ABOUT PAGE */

#about-page{
    padding: 80px 0;
    width: 100%;
    height: auto;
}

.img-about-page{
    background-image: url(..//images/about.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    border-radius: 5px;
}

.text-about-page{
    
}

.text-about-page h2{
    font-size: 40px;
    color: #555;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

.text-about-page span{
    color: #0070bb;
    font-family: 'Lato', sans-serif;
}

.text-about-page hr{
    height: 2px;
	width: 120px;
	background-color: #59aee9;
    margin-top: 20px;
    margin-bottom: 40px;  
}

.text-about-page p{
    font-size: 18px;
    color: #999999;
    letter-spacing: 1px;
}

.text-about-page p:last-of-type{
    color: #555;
}

/* OUR BEST */

#our-best{
    padding: 80px 0;
    width: 100%;
    height: auto;
}

.text-our-best{
    text-align: center;
}

.text-our-best h2{
    font-size: 40px;
    color: #555;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

.text-our-best span{
    color: #0070bb;
    font-family: 'Lato', sans-serif;
}

.text-our-best hr{
    height: 2px;
	width: 120px;
	background-color: #59aee9;
	margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 40px;  
}

.text-our-best p{
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

.box-our{
    padding: 10px;
}

.text-our-best-box{
   padding: 20px;
    border: 1px solid #999999;
    border-radius: 5px;
}

.text-our-best-box-col{
    padding: 20px;
    background-color: #0070bb;
    border-radius: 5px;
    margin-top: -10px;
}

.text-our-best-box-col h4{
    margin-bottom: 30px;
    color: white;
}

.text-our-best-box-col p{
    color: white;
}

.text-our-best-box h4{
    margin-bottom: 30px;
    color: #555;
}

.text-our-best-box p{
    color: #999999;
}

/* RESPONSIVE ABOUT PAGE */



@media (min-width: 992px) and (max-width: 1199px) {
    .text-hero-inner{
        padding-top: 20vh;
    }
}

@media (min-height: 1366px){
    .text-hero-inner{
        padding-top: 12vh;
    }
}



@media (min-width: 768px) and (max-width: 991px) {
    .text-hero-inner{
        padding-top: 20vh;
    }
    .order-img-about{
        order: 2;
    }
    .order-text-about{
        order: 1;
    }
    .text-about-page{
        margin-bottom: 40px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .text-hero-inner{
        padding-top: 23vh;
    }
    .order-img-about{
        order: 2;
    }
    .order-text-about{
        order: 1;
    }
    .text-about-page{
        margin-bottom: 40px;
    }
    .img-about-page{
        height: 350px;
    }
    .text-our-best-box-col{
        margin-top: 0;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    .text-hero-inner{
        padding-top: 25vh;
    }
    .order-img-about{
        order: 2;
    }
    .order-text-about{
        order: 1;
    }
    .text-about-page{
        margin-bottom: 40px;
    }
    .img-about-page{
        height: 250px;
    }
    .text-our-best-box-col{
        margin-top: 0;
    }
    .text-hero-inner h1{
        font-size: 40px;
    }
    #about-page{
        padding: 40px 0;
    }
    .text-about-page h2{
        font-size: 30px;
    }
    #our-best{
        padding: 40px 0;
    }
    .text-our-best h2{
        font-size: 30px;
    }
}

@media (max-width: 320px) {
    .text-hero-inner{
        padding-top: 34vh;
    }
    .order-img-about{
        order: 2;
    }
    .order-text-about{
        order: 1;
    }
    .text-about-page{
        margin-bottom: 40px;
    }
    .img-about-page{
        height: 250px;
    }
    .text-our-best-box-col{
        margin-top: 0;
    }
    .text-hero-inner h1{
        font-size: 40px;
    }
    #about-page{
        padding: 40px 0;
    }
    .text-about-page h2{
        font-size: 30px;
    }
    #our-best{
        padding: 40px 0;
    }
    .text-our-best h2{
        font-size: 30px;
    }
}

/* LISTINGS PAGE */

#listings-page{
    padding: 80px 0;
}

.type-listing-page{
    text-align: center;
}

.type-listing-page hr{
    background-color: #0070bb;
    margin-bottom: 20px;
}

.type-listing-page label{
    margin-bottom: 0;
}

.check-field{
    
}

.load-more-btn{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 15px;
}

.load-more-btn a{
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    background-color: #0070bb;
    border: 2px solid #0070bb;
    padding: 15px 25px;
    border-radius: 5px;
    text-decoration: none;
}

.load-more-btn a:hover{
    text-decoration: none;
    color: #0070bb;
    background-color: transparent;
    border: 2px solid #0070bb;
}

/* RESPONSIVE LISTINGS */

@media (min-width: 992px) and (max-width: 1199px) {
	
}

@media (min-width: 768px) and (max-width: 991px) {
	.type-listing-page{
        text-align: left;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .type-listing-page{
        text-align: left;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    #listings-page{
        padding: 40px 0;
    }
    .type-listing-page{
        text-align: left;
    }
}

@media (max-width: 320px) {
    #listings-page{
        padding: 40px 0;
    }
    .type-listing-page{
        text-align: left;
    }
}

/* SINGLE LISTING LEFT SIDE */

.pad-single-list{
    padding-right: 30px;
}

#single-listing{
    padding: 80px 0;
    width: 100%;
    height: auto;
}

.left-side-listing{
    
}

.left-side-listing h2{
    font-size: 40px;
    color: #555;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.left-side-listing p{
    color: #999999;
}

.img-fluid-first{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 420px;
    border-radius: 5px;
}

.img-fluid{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 180px;
    border-radius: 5px;
}

.item-img{
    padding: 5px;
}

.listing-info{
    padding: 40px 0;
}

.listing-info-text{
    
}

.listing-info-text ul{
    margin-bottom: 0;
}

.listing-info-text ul li{
    list-style: none;
    letter-spacing: 1px;
    color: #999999;
}

.listing-info-text ul li span{
    color: black;
}

.detail-listing{
    
}

.detail-listing h3{
    margin-bottom: 20px;
}

.detail-listing p{
    color: #999999;
}

.plan-listing{
    
}

.plan-listing h3{
    margin-bottom: 20px;
    margin-top: 30px;
}

.plan-listing ul li{
    list-style: none;
    display: inline-block;
    color: #999999;
}

.plan-listing ul li:hover{
    color: black;
    cursor: pointer;
}

.plan-listing ul li span{
    margin: 0px 10px;
    color: black
}

.img-pla-one{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    border-radius: 5px;
}

.img-pla-two{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    border-radius: 5px;
}

.id-listing{
    margin-top: 40px;
}

.id-listing ul{
    margin-bottom: 0;
}

.id-listing ul li{
    list-style: none;
    display: inline-block;
    margin-right: 35px;
    color: #999999;
}

.related-properties{
    
}

.related-properties h3{
    margin-bottom: 20px;
    margin-top: 30px;
}

.img-related-prop{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 220px;
    border-radius: 5px;
    position: relative;
}

.img-related-prop p{
    position: absolute;
    background: rgba(0,0,0,0.5);
    color: white;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
}

.text-relaed-prop{
    margin-top: 20px;
}

.text-relaed-prop p{
    margin-bottom: 5px;
    color: #999999;
}

.text-relaed-prop h4 a{
    text-decoration: none;
    color: #555;
}

.text-relaed-prop h4 a:hover{
    text-decoration: none;
    color: #0070bb;
}

.text-relaed-prop h4:last-of-type{
    color: #0070bb;
}

.related-prop{
    padding: 10px;
}

/* RIGHTS SIDE SINGLE LISTINGS */

.price-listing{
    
}

.price-listing h4{
    margin-bottom: 0;
    color: white;
    background-color: #0070bb;
    padding: 10px;
}

.price-listing ul{
    margin: 10px 0;
}

.price-listing ul li{
    list-style: none;
    padding-bottom: 5px;
}

.price-listing ul li:last-of-type{
    padding-bottom: 0;
}

.price-listing ul li a{
    text-decoration: none;
    color: #999999;
}

.price-listing ul li a:hover{
    text-decoration: none;
    color: #0070bb;
}

.more-about{
    margin-top: 20px;
}

.more-about h4{
    border-top: 2px solid #0070bb;
    margin-bottom: 0;
    padding: 15px 0;
}

.form-fields-prop{
    box-shadow: none !important;
    margin: 2px 0;
}

.btn-prop{
    border: 2px solid #0070bb;
    padding: 10px 25px;
    margin-top: 10px;
    background-color: #0070bb;
    color: white;
    border-radius: 5px;
}

.btn-prop:hover{
    border: 2px solid #0070bb;
    background-color: transparent;
    color: #0070bb;  
}

.agency-listing{
    margin-top: 20px;
}

.agency-listing h4{
    border-top: 2px solid #0070bb;
    margin-bottom: 0;
    padding: 15px 0;
}

.img-agency-list{
    background-image: url(..//images/about.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 260px;
    border-radius: 5px;
}

.agency-listing ul{
    margin: 10px 0;
}

.agency-listing ul li{
    list-style: none;
    padding-bottom: 5px;
}

.agency-listing ul li:last-of-type{
    padding-bottom: 0;
}

.agency-listing ul li a{
    text-decoration: none;
    color: #999999;
}

.agency-listing ul li a:hover{
    text-decoration: none;
    color: #0070bb;
}

.soc-icons-agency{
    
}

.soc-icons-agency ul{
    margin-bottom: 0;
}

.soc-icons-agency ul li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.soc-icons-agency ul li a i{
    color: #999999;
    font-size: 22px;
}

.soc-icons-agency ul li a i:hover{
    color: #0070bb;
}

.btn-all-agency{
    text-align: center;
    margin-top: 30px;
}

.btn-all-agency a{
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #0070bb;
    color: white;
    display: block;
    padding: 15px;
    text-decoration: none;
    border: 2px solid #0070bb;
    border-radius: 5px;
}

.btn-all-agency a:hover{
    background-color: transparent;
    border: 2px solid #0070bb;
    color: #0070bb;
    text-decoration: none;
}

/* RESPONSIVE SINGLE LISTING */

@media (min-width: 992px) and (max-width: 1199px) {
	
}

@media (min-width: 768px) and (max-width: 991px) {
    .img-fluid-first{
        height: 350px;
    }
    .img-pla-one{
        height: 350px;
    }
    .img-pla-two{
        height: 350px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .img-fluid-first{
        height: 350px;
    }
    .img-pla-one{
        height: 350px;
    }
    .img-pla-two{
        height: 350px;
    }
    .pad-single-list{
        padding-right: 15px;
    }
    .price-listing{
        margin-top: 40px;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    #single-listing{
        padding: 40px 0;
    }
    .pad-single-list{
        padding-right: 15px;
    }
    .left-side-listing h2{
        font-size: 30px;
    }
    .img-fluid-first{
        height: 250px;
    }
    .img-fluid{
        height: 250px;
    }
    .img-pla-one{
        height: 250px;
    }
    .img-pla-two{
        height: 250px
    }
    .price-listing{
        margin-top: 40px;
    }
}

@media (max-width: 320px) {
    #single-listing{
        padding: 40px 0;
    }
    .pad-single-list{
        padding-right: 15px;
    }
    .left-side-listing h2{
        font-size: 30px;
    }
    .img-fluid-first{
        height: 250px;
    }
    .img-fluid{
        height: 250px;
    }
    .img-pla-one{
        height: 250px;
    }
    .img-pla-two{
        height: 250px
    }
    .price-listing{
        margin-top: 40px;
    }
}

/* BLOG PAGE */

#blog-page{
    padding: 80px 0;
    width: 100%;
    height: auto;
}

.blog-padd{
    padding: 10px;
}

.bg-blog-post{
    border: 1px solid #999999;
    border-radius: 5px;
}

.img-blog-page{
    width: 100%;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-blog-post-bg{
    padding: 25px 15px;
}

.text-blog-post-bg h4{
    color: #555;
}

.text-blog-post-bg ul{
    margin-bottom: 0;
}

.text-blog-post-bg ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

.text-blog-post-bg ul li i{
    margin-right: 5px;
    color: #0070bb;
}

.text-blog-post-bg p{
    color: #999999;
    padding: 15px 0;
    margin-bottom: 0;
}

.text-blog-post-bg a{
    text-decoration: none;
    color: black;
}

.text-blog-post-bg a:hover{
    text-decoration: none;
    color: #0070bb;
}

.text-blog-post-bg a i{
    margin-left: 5px;
}

/* RESPONSIVE BLOG */

@media (min-width: 992px) and (max-width: 1199px) {
	
}

@media (min-width: 768px) and (max-width: 991px) {
    .img-blog-page{
        height: 250px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {

}

@media (min-width: 321px) and (max-width: 480px) {
    #blog-page{
        padding: 40px 0;
    }
    .img-blog-page{
        height: 250px;
    }
}

@media (max-width: 320px) {
    #blog-page{
        padding: 40px 0;
    }
    .img-blog-page{
        height: 250px;
    }
}

/* SINGLE POST PAGE */

#single-post{
    padding: 80px 0;
    width: 100%;
    height: auto;
}

.single-blog-post{
    
}

.single-blog-post h3{
    color: #555;
    letter-spacing: 1px;
}

.single-blog-post p{
    margin-bottom: 0;
}

.single-blog-post p i{
    margin-right: 5px;
    color: #0070bb;
}

.img-single-post{
    background-image: url(..//images/inner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    border-radius: 5px;
    margin: 25px 0;
}

.description-post{
    
}

.description-post p{
    color: #999999;
}

.description-post p:last-of-type{
    color: #999999;
    font-style:italic;
}

.description-post ul li{
   list-style: none;
}

.description-post ul li a{
    color: #0070bb;
    text-decoration: none;
}

.description-post ul li a:hover{
    color: black;
    text-decoration: none;
}

.first-post{
    margin: 30px 0;
}

.first-post h5{
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: #555;
}

.first-post p{
    color: #999999;
}

.first-post p:last-of-type{
    font-style: italic;
    border-left: 2px solid #0070bb;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.category-post{
    
}

.category-post p{
    color: #999999;
}

.category-post p a{
    margin-left: 5px;
    text-decoration: none;
    color: #0070bb;
}

.category-post p a:hover{
    text-decoration: none;
    color: black;
}

.category-post ul{
    text-align: right;
}

.category-post ul li{
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}

.category-post ul li a i{
    color: #0070bb;
}

.category-post ul li a i:hover{
    color: black;
}

.btn-single-prev{
    margin: 20px 0;
}

.btn-single-prev a{
    text-decoration: none;
    color: #0070bb;
}

.btn-single-prev a:hover{
    text-decoration: none;
    color: black;
}

.btn-single-next{
    margin: 20px 0;
    text-align: right;
}

.btn-single-next a{
    text-decoration: none;
    color: #0070bb;
}

.btn-single-next a:hover{
    text-decoration: none;
    color: black;
}

.related-posts{
    margin-top: 40px;
}

.related-posts h4{
    color: #555;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.related-post-padd{
    padding: 10px;
}

.img-related-post{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
    border-radius: 5px;
}

.text-related-post{
    padding: 20px 10px;
}

.text-related-post h5 a{
    text-decoration: none;
    color: #999999;
}

.text-related-post h5 a:hover{
    text-decoration: none;
    color: #0070bb;
}

.text-related-post p{
    margin-bottom: 0;
    margin-top: 15px;
}

.text-related-post p i{
    color: #0070bb;
    margin-right: 5px;
}

/* RIGHT SIDE SINGLE POST */

.prop-search{
    
}

.prop-search h4{
    border-top: 2px solid #0070bb;
    border-bottom: 2px solid #0070bb;
    padding: 10px 0;
    letter-spacing: 1px;
}

.prop-search ul{
    margin-bottom: 0;
}

.prop-search ul li{
    list-style: none;
    margin-bottom: 5px;
}

.prop-search ul li a{
    text-decoration: none;
    color: #999999;
}

.prop-search ul li a:hover{
    text-decoration: none;
    color: #0070bb;
}

.latest-prop{
    margin-top: 30px;
}

.latest-prop h4{
    border-top: 2px solid #0070bb;
    border-bottom: 2px solid #0070bb;
    padding: 10px 0;
    letter-spacing: 1px;
}

.latest-prop ul{
    margin-bottom: 0;
}

.latest-prop ul li{
    list-style: none;
    margin-bottom: 5px;
}

.latest-prop ul li a{
    text-decoration: none;
    color: #999999;
}

.latest-prop ul li a:hover{
    text-decoration: none;
    color: #0070bb;
}

.cities-prop{
    margin-top: 30px;
}

.cities-prop h4{
    border-top: 2px solid #0070bb;
    border-bottom: 2px solid #0070bb;
    padding: 10px 0;
    letter-spacing: 1px;
}

.cities-prop ul{
    margin-bottom: 0;
}

.cities-prop ul li{
    list-style: none;
    margin-bottom: 5px;
}

.cities-prop ul li a{
    text-decoration: none;
    color: #999999;
}

.cities-prop ul li a:hover{
    text-decoration: none;
    color: #0070bb;
}

/* RESPONSIVE SINGLE POST */

@media (min-width: 992px) and (max-width: 1199px) {
	
}

@media (min-width: 768px) and (max-width: 991px) {
    .img-single-post{
        height: 350px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {

}

@media (min-width: 321px) and (max-width: 480px) {
    #single-post{
        padding: 40px 0;
    }
    .img-single-post{
        height: 280px;
    }
    .category-post{
        text-align: center;
    }
    .category-post ul{
        text-align: center;
    }
}

@media (max-width: 320px) {
    #single-post{
        padding: 40px 0;
    }
    .img-single-post{
        height: 280px;
    }
    .category-post{
        text-align: center;
    }
    .category-post ul{
        text-align: center;
    }
}

/* CONTACT PAGE */

#contact-page{
    padding: 80px 0;
    width: 100%;
    height: auto;
}

.form-cont{
    margin: 5px 0;
}

.btn-captcha-cont{
    margin-top: 20px;
}

.btn-captcha-cont{
    border: 2px solid #0070bb;
    padding: 10px 25px;
    margin-top: 10px;
    background-color: #0070bb;
    color: white;
    border-radius: 5px;
}

.btn-captcha-cont:hover{
    border: 2px solid #0070bb;
    background-color: transparent;
    color: #0070bb;  
}

.map-cont{
    width: 100%;
    height: 100%;
}

.text-contact-page{
    text-align: center;
}

.text-contact-page p{
    margin-bottom: 40px;
    color: #999999;
}

/* RESPONSIVE CONTACT PAGE */

@media (min-width: 992px) and (max-width: 1199px) {
	
}

@media (min-width: 768px) and (max-width: 991px) {
    .cont-order-one{
        order: 2;
    }
    .cont-order-two{
        order: 1;
    }
    .map-cont{
        width: 100%;
        height: 350px;
        margin-top: 40px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .cont-order-one{
        order: 2;
    }
    .cont-order-two{
        order: 1;
    }
    .map-cont{
        width: 100%;
        height: 350px;
        margin-top: 40px;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    #contact-page{
        padding: 40px 0;
    }
    .cont-order-one{
        order: 2;
    }
    .cont-order-two{
        order: 1;
    }
    .map-cont{
        width: 100%;
        height: 250px;
        margin-top: 40px;
    }
}

@media (max-width: 320px) {
    #contact-page{
        padding: 40px 0;
    }
    .cont-order-one{
        order: 2;
    }
    .cont-order-two{
        order: 1;
    }
    .map-cont{
        width: 100%;
        height: 250px;
        margin-top: 40px;
    }
}


/***

title - font-family: 'Lato', sans-serif;

#999999 - gray
#555 - for text
#0070bb - blue

.text-lifestyle h2{
    font-size: 40px;
    color: #555;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

.text-lifestyle span{
    color: #0070bb;
    font-family: 'Lato', sans-serif;
}

.text-lifestyle hr{
    height: 2px;
	width: 120px;
	background-color: #59aee9;
	margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 40px;  
}

***/